<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BatteryActivator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>1% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.1.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>2% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.2.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>3% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.3.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>3</string>			
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>4% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.4.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>5% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.5.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>10% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.10.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>10</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>15% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.15.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>15</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>20% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.20.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>20</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>25% Percent</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorEvent</key>
			<string>batteryActivator.25.percent.activate</string>
			<key>get</key>
			<string>getActivatorAction:</string>
			<key>batteryPercent</key>
			<string>25</string>
		</dict>
	</array>
	<key>title</key>
	<string>BatteryActivator</string>
</dict>
</plist>
